.template-a-story-container .template-a-feed {
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform-origin: top left;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 22px;
  color: var(--Tertiary);
  font-family: var(--font-pretendard);
}

.frame-title,
.head-bar {
  width: var(--width-1080);
  overflow: hidden;
}

.head-bar {
  height: 32px;
  position: relative;
  background-color: var(--Primary-Red);
  flex-shrink: 0;
}

.frame-title {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-60);
  box-sizing: border-box;
  gap: var(--gap-4);
  text-align: left;
  font-size: 76px;
  color: var(--Primary-Red);
  font-family: var(--font-pretendard);
}

.line-12,
.line-22 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.02em;
  line-height: 130%;
  font-weight: 800;
  font-family: inherit;
}

.line-22 {
  color: var(--Secondary);
}

.frame-contents {
  width: var(--width-1080);
  flex: 1;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-60);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-35);
  color: var(--Secondary);
  font-family: var(--font-pretendard);
}

.contents-12,
.list-13 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
}

.contents-12 {
  border-top: var(--border-1);
  align-items: flex-start;
  gap: var(--gap-16);
  max-width: 100%;
}

.list-13 {
  width: var(--width-228);
  align-items: center;
  padding: var(--padding-28) var(--padding-0);
}

.list-14 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 130%;
  font-weight: 600;
  font-family: inherit;
}

.list-1-contents3 {
  width: var(--width-716);
  display: flex;
  align-items: center;
  padding: var(--padding-28) var(--padding-0);
  box-sizing: border-box;
  max-width: 100%;
}

.list-1-contents4 {
  margin: 0;
  align-self: stretch;
  width: var(--width-716);
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}

.contents-11 {
  align-self: stretch;
  border-top: var(--border-1);
  align-items: flex-start;
  gap: var(--gap-16);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-35);
  color: var(--Secondary);
  font-family: var(--font-pretendard);
}

.contents-11,
.list-2-contents2,
.list-22 {
  display: flex;
  box-sizing: border-box;
}

.list-22 {
  align-self: stretch;
  width: var(--width-228);
  align-items: center;
  padding: 56px var(--padding-0);
}

.list-2-contents2 {
  width: var(--width-716);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-28) var(--padding-0);
  gap: var(--gap-12);
  max-width: 100%;
}

.date2,
.time2 {
  margin: 0;
  width: var(--width-716);
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}

.time2 {
  color: var(--Tertiary);
}

.frame-footer,
.list-5-contents3 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.list-5-contents3 {
  width: var(--width-716);
  justify-content: center;
  padding: var(--padding-28) var(--padding-0);
  max-width: 100%;
}

.frame-footer {
  width: var(--width-1080);
  background-color: var(--color-white);
  overflow: hidden;
  padding: 56px var(--padding-60);
  gap: var(--gap-16);
}

.div2 {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 150%;
}

.logo-20slab-red-icon2 {
  height: 36.9px;
  width: 230px;
  position: relative;
}

@media screen and (max-width: 1025px) {

  .contents-11,
  .contents-12 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 975px) {

  .date2,
  .list-1-contents4,
  .list-14,
  .time2 {
    font-size: var(--fs-28);
    line-height: var(--lh-36);
  }
}

@media screen and (max-width: 725px) {

  .frame-contents,
  .frame-footer,
  .frame-title {
    padding-left: var(--padding-30);
    padding-right: var(--padding-30);
    box-sizing: border-box;
  }
}

@media screen and (max-width: 450px) {

  .date2,
  .list-1-contents4,
  .list-14,
  .time2 {
    font-size: var(--fs-21);
    line-height: var(--lh-27);
  }

  .div2 {
    font-size: 18px;
    line-height: 26px;
  }
}