body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Figma Variables */

  /* Color */
  --Primary-Red: #fc5b4f;
  --Quaternary: #e1e1e1;
  --Secondary: #1a1a1a;
  --Tertiary: #8f8f8f;

  /* Common Style Variables */

  /* Color */
  --color-white: #fff;

  /* Gap */
  --gap-16: 16px;

  /* Padding */
  --padding-0: 0px;
  --padding-28: 28px;
  --padding-30: 30px;
  --padding-60: 60px;

  /* Font */
  --font-pretendard: Pretendard;

  /* FontSize */
  --fs-21: 21px;
  --fs-28: 28px;
  --fs-35: 35px;

  /* Borders */
  --border-1: 1.5px solid var(--Quaternary);

  /* WidthHeights */
  --width-228: 228px;
  --width-716: 716px;

  /* LineHeights */
  --lh-27: 27px;
  --lh-36: 36px;

  /* LetterSpacings */
  --ls--0_03: -0.03;
}
