<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;600;800&display=swap"
    />
  </head>
  <body>
    <div class="template-a-feed">
      <div class="head-bar"></div>
      <header class="frame-title">
        <h2 class="line-1">20대가 선호하는 브랜드</h2>
        <h1 class="line-2">좌담회 참여자 모집</h1>
      </header>
      <main class="frame-contents">
        <div class="contents-12">
          <div class="list-1">
            <h2 class="list-12">참여 대상</h2>
          </div>
          <div class="list-1-contents">
            <h2 class="list-1-contents2">전국 4년제 대학 재학생 및 휴학생</h2>
          </div>
        </div>
        <section class="contents-11">
          <div class="list-2">
            <h2 class="list-12">진행 일시</h2>
          </div>
          <div class="list-2-contents">
            <h2 class="date">2026. 03. 25.(수) / 1일 참여</h2>
            <h2 class="time">14:00 ~ 16:00 (약 2시간)</h2>
          </div>
        </section>
        <div class="contents-12">
          <div class="list-1">
            <h2 class="list-12">진행 장소</h2>
          </div>
          <div class="list-1-contents">
            <h2 class="list-1-contents2">
              강남역 인근 오프라인 리서치 룸 (개별 안내)
            </h2>
          </div>
        </div>
        <div class="contents-12">
          <div class="list-1">
            <h2 class="list-12">참여 혜택</h2>
          </div>
          <div class="list-1-contents">
            <h2 class="list-1-contents2">참가비 5만원 + 다과 제공</h2>
          </div>
        </div>
        <div class="contents-12">
          <div class="list-1">
            <h2 class="list-12">신청 마감</h2>
          </div>
          <div class="list-5-contents">
            <h2 class="list-1-contents2">2026. 03. 20.(금) 23:59까지</h2>
          </div>
        </div>
        <div class="contents-12">
          <div class="list-1">
            <h2 class="list-12">참가자 확정</h2>
          </div>
          <div class="list-5-contents">
            <h2 class="list-1-contents2">2026. 03. 23.(월) 개별 문자 안내</h2>
          </div>
        </div>
      </main>
      <div class="frame-footer">
        <div class="div">
          ※ 사전 연락 없이 불참 시 향후 유사 프로젝트 참여가 제한될 수
          있습니다.<br />※ 배포된 내용은 연구 목적으로만 활용되며, 외부 유출을
          엄격히 금지합니다.
        </div>
        <img
          class="logo-20slab-red-icon"
          loading="lazy"
          alt=""
          src="./public/LOGO-20SLAB-Red.svg"
        />
      </div>
    </div>
  </body>
</html>
